<configuration scan="true">
	<property name="COMMON_PATTERN" value="%d [%thread] %-5level %X %logger{36} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${COMMON_PATTERN}</pattern>
		</encoder>
	</appender>

    <!-- loggers -->
	<logger name="com.inventage.airmock" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>