name: Build Pipeline

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B deploy --file pom.xml
      env:
        GITHUB_ACTOR: ${{ github.actor }} # used by com.spotify:dockerfile-maven-plugin
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # used by com.spotify:dockerfile-maven-plugin